[
  {
    "title": "Combat Mode",
    "enabled": true,
    "when": {
      "all": [
        {
          "signal": "hud_mode",
          "op": "eq",
          "value": "combat"
        }
      ],
      "any": []
    },
    "then": [
      {
        "vkb_set_shift": [
          "Shift1"
        ]
      }
    ],
    "else": [
      {
        "vkb_clear_shift": [
          "Shift1"
        ]
      }
    ],
    "id": "combat-mode"
  },
  {
    "title": "Landing Gear Deployed",
    "enabled": true,
    "when": {
      "all": [
        {
          "signal": "landing_gear",
          "op": "eq",
          "value": "deployed"
        }
      ],
      "any": []
    },
    "then": [
      {
        "vkb_set_shift": [
          "Subshift3"
        ]
      }
    ],
    "else": [
      {
        "vkb_clear_shift": [
          "Subshift3"
        ]
      }
    ],
    "id": "landing-gear-deployed"
  },
  {
    "title": "Docked or Landed",
    "enabled": true,
    "when": {
      "all": [
        {
          "signal": "docking_state",
          "op": "in",
          "value": [
            "docked",
            "landed"
          ]
        }
      ],
      "any": []
    },
    "then": [
      {
        "vkb_set_shift": [
          "Subshift3"
        ]
      }
    ],
    "else": [
      {
        "vkb_clear_shift": [
          "Subshift3"
        ]
      }
    ],
    "id": "docked-or-landed"
  },
  {
    "title": "Fighter Deployed",
    "enabled": true,
    "when": {
      "all": [
        {
          "signal": "fighter",
          "op": "eq",
          "value": "launched"
        }
      ],
      "any": []
    },
    "then": [
      {
        "vkb_set_shift": [
          "Subshift2"
        ]
      },
      {
        "log": "Ship is docked or landed"
      }
    ],
    "else": [
      {
        "vkb_clear_shift": [
          "Subshift2"
        ]
      }
    ],
    "id": "docked-or-landed-copy"
  }
]